
body {
    position: relative;
    min-height: 100vh; /* Asegura que el body cubra toda la pantalla */
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('vegetables_pattern.jpg'); /* Ruta a tu imagen */
    background-size: 300px 300px; /* Ajusta el tamaño del patrón */
    background-repeat: repeat;
    opacity: 0.25; /* Aplica el 15% de transparencia al fondo */
    z-index: -1; /* Mantiene el fondo detrás del contenido */
}


